@import 'colors';

.analytic {
  &-row {

    &-time {
      > * {
        display: inline-block;
      }
      &-date {
        color: $dark-grey;
        font-weight: 300;
      }
      &-hour {
        color: $very-dark-grey;
        width: 100px;
        text-align: center;
        font-weight: 700;
      }
      &-value {
        font-weight: 300;
        text-align: right;
        width: 100px;
      }
    }

    &-status {
      &-bar {
        margin-top: 15px;
        width: 100%;
        height: 30px;
        background-color: $dark-grey;
        margin-bottom: 5px;
        .bar-color {
          background-color: $red;
          height: 30px;
          width: 60%;
        }
      }
      &-limit {
        width: 100%;
        .limit-left {
          float: left;
        }
        .limit-right {
          float: right;
        }
      }
    }
  }
}