@import 'colors';

body {
  margin: 0;
  padding: 0 0 15px 0;
}

.header-wrapper {
  background-color: #7FB6D4;
  border-bottom: 3px solid $dark-grey;

  .header {
    &-logo {
      color: $white;
      text-decoration: underline;
      font-size: 2.5rem;
      padding-top: 15px;
      padding-bottom: 15px;
      position: relative;
      top: -3px;

      &-bold {
        color: $yellow;
        font-weight: 900;
      }
    }
    &-menu {
      text-align: right;
      a {
        color: $white;
        text-decoration: none;
        display: inline-block;
        margin: 33px 0 33px 30px;
      }
      a:hover {
        color: $light-grey;
      }
    }
  }
}

.container-fluid {
  padding: 0;
}

.general-wrapper .general-background {
  background-color: $light-grey;
  padding: 15px;
  margin-top: 15px;
}

h1 {
  font-size: 1.6rem;
  color: $red;
  font-weight: 900;
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  color: $red;
  font-weight: 900;
  margin: 0 15px 0 0;
  display: inline-block;
}

h3 {
  font-size: 1.05rem;
  font-weight: 900;
  margin: 0 15px 0 0;
  display: inline-block;
}

.heading-2-wrapper {
  margin-bottom: 8px;
}

.heading-3-wrapper {
  margin-bottom: 5px;
}

.heading-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}

.heading-note {
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  display: inline-block;
}

.heading-subinfo {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block;
}

.heading-line {
  border-top: 2px solid $red;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
}

.text-large {
  font-size: 3rem;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  color: $very-dark-grey;
}

.text-medium {
  font-size: 2.1rem;
  font-weight: 300;
  display: block;
  color: $very-dark-grey;
}

@media (max-width: 767px) {
  .header-wrapper {
    .header {
      .header-logo {
        text-align: center;
      }
      .header-menu {
        text-align: center;
        a {
          margin: 0 5px 15px 5px;
        }
      }
    }
  }
}
