@import 'colors';

.users {
  &-content {
    margin-bottom: 15px;
  }
  table, th, td {
    border: 1px solid $very-dark-grey;
  }
  &-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    th, td {
      padding: 5px;
    }
    &-head {
      background-color: $very-dark-grey;
      color: $white;
      text-align: center;
    }
    &-detail {
      //background-color: $dark-grey;
    }
    .col-id {
      width: 50px;
      text-align: center;
    }
    .col-name {
    }
    .col-max {
      width: 110px;
      text-align: center;
    }
  }
}
.form {
  input {
    padding: 5px 8px;
    margin-bottom: 15px;
  }
  input[type="submit"] {
    padding: 5px 10px;
    display: block;
    width: auto;
    background-color: $red;
    border: 0;
    color: white;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: $light-red;
  }
}