.analytic-row-time > * {
    display: inline-block;
}
.analytic-row-time-date {
    color: #C9C9C9;
    font-weight: 300;
}
.analytic-row-time-hour {
    color: #7A7A7A;
    width: 100px;
    text-align: center;
    font-weight: 700;
}
.analytic-row-time-value {
    font-weight: 300;
    text-align: right;
    width: 100px;
}
.analytic-row-status-bar {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    background-color: #C9C9C9;
    margin-bottom: 5px;
}

.analytic-row-status-bar .bar-color {
    background-color: #AF6161;
    height: 30px;
    width: 60%;
}
.analytic-row-status-limit {
    width: 100%;
}

.analytic-row-status-limit .limit-left {
    float: left;
}

.analytic-row-status-limit .limit-right {
    float: right;
}

/*# sourceMappingURL=analytic.css.map */
