@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-SemiBold.ttf");
  font-weight: 600; }
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Bold.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/OpenSansCondensed-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Open Sans Condensed";
  src: url("fonts/OpenSansCondensed-Bold.ttf");
  font-weight: 700; }

/*# sourceMappingURL=fonts.css.map */
