body {
  margin: 0;
  padding: 0 0 15px 0; }

.header-wrapper {
  background-color: #7FB6D4;
  border-bottom: 3px solid #C9C9C9; }
  .header-wrapper .header-logo {
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -3px; }
    .header-wrapper .header-logo-bold {
      color: #F3E88F;
      font-weight: 900; }
  .header-wrapper .header-menu {
    text-align: right; }
    .header-wrapper .header-menu a {
      color: #FFFFFF;
      text-decoration: none;
      display: inline-block;
      margin: 33px 0 33px 30px; }
    .header-wrapper .header-menu a:hover {
      color: #F2F2F2; }

.container-fluid {
  padding: 0; }

.general-wrapper .general-background {
  background-color: #F2F2F2;
  padding: 15px;
  margin-top: 15px; }

h1 {
  font-size: 1.6rem;
  color: #AF6161;
  font-weight: 900;
  margin: 0; }

h2 {
  font-size: 1.3rem;
  color: #AF6161;
  font-weight: 900;
  margin: 0 15px 0 0;
  display: inline-block; }

h3 {
  font-size: 1.05rem;
  font-weight: 900;
  margin: 0 15px 0 0;
  display: inline-block; }

.heading-2-wrapper {
  margin-bottom: 8px; }

.heading-3-wrapper {
  margin-bottom: 5px; }

.heading-subtitle {
  font-size: 1.2rem;
  font-weight: 300; }

.heading-note {
    font-size: 1.1rem;
  font-weight: 300;
    font-style: italic;
  display: inline-block; }

.heading-subinfo {
  font-size: 1rem;
  font-weight: 300;
  display: inline-block; }

.heading-line {
  border-top: 2px solid #AF6161;
  display: block;
  margin-top: 5px;
  margin-bottom: 15px; }

.text-large {
  font-size: 3rem;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  color: #7A7A7A; }

.text-medium {
    font-size: 2.1rem;
    font-weight: 300;
    display: block;
    color: #7A7A7A;
}

@media (max-width: 767px) {
  .header-wrapper .header .header-logo {
    text-align: center; }
  .header-wrapper .header .header-menu {
    text-align: center; }
    .header-wrapper .header .header-menu a {
      margin: 0 5px 15px 5px; } }

/*# sourceMappingURL=primary.css.map */
