.users-content {
    margin-bottom: 15px;
}

.users table, .users th, .users td {
    border: 1px solid #7A7A7A;
}

.users-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.users-table th, .users-table td {
    padding: 5px;
}

.users-table-head {
    background-color: #7A7A7A;
    color: #FFFFFF;
    text-align: center;
}

.users-table .col-id {
    width: 50px;
    text-align: center;
}

.users-table .col-max {
    width: 110px;
    text-align: center;
}

.form input {
    padding: 5px 8px;
    margin-bottom: 15px;
}

.form input[type="submit"] {
    padding: 5px 10px;
    display: block;
    width: auto;
    background-color: #AF6161;
    border: 0;
    color: white;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #d17474;
}

/*# sourceMappingURL=users.css.map */
